.all-container{
  border: 2px solid #E8E8E8;
  background-color: white;
  margin: 30px;
  border-radius: 10px;
  margin-bottom: 40px;
}
.all-container-title{
  border-bottom: 2px solid #E5E5E5;
  padding:20px;
  font-size: 1.3rem;
  font-weight: 500;
}
.all-container-body{
  padding: 20px;
  padding-bottom: 40px;
}

