<div class="add-deliveries">
    <app-titlebar
      breadcrumb="Deliveries > {{ title }}"
      [title]="title"
      [buttons]="buttons"
    ></app-titlebar>
  
    <!-- Add Delivery form -->
    <form [formGroup]="addDeliveryForm" [id]="formName" (ngSubmit)="submit()">
        
      <div class="grid-wrapper">
  
        <!-- Form Container: Left -->
        <app-add-container title="Delivery Information">
  
          <div class="grid-wrapper-form">

            <mat-label class="order-label">Order</mat-label>
            <ng-multiselect-dropdown
              placeholder="Select an order"
              [settings]="dropdownSettings"
              [data]="orderDropdownItems"
              [(ngModel)]="orderSelectedItems"
              [ngModelOptions]="{standalone: true}"
              required
              (onSelect)="onSelectOrder($event.id)"
              (onDeSelect)="onDeselectOrder()"
              [disabled]="update"
            ></ng-multiselect-dropdown>

            <mat-form-field appearance="outline">
              <mat-label>Delivery date</mat-label>
              <input matInput formControlName="date" type="date" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="comment-box">
              <mat-label>Comment</mat-label>
              <textarea matInput formControlName="comment"></textarea>
            </mat-form-field>
          </div>
  
        </app-add-container>
  
        <!-- Form Container: Right -->
        <app-add-container title="Items">
          
          <table mat-table [dataSource]="itemSource" class="item-table">
            <ng-container matColumnDef="itemName">
              <th mat-header-cell *matHeaderCellDef>Item</th>
              <td mat-cell *matCellDef="let element">{{element.itemName}}</td>
            </ng-container>

            <ng-container matColumnDef="received">
              <th mat-header-cell *matHeaderCellDef class="center-align">Received</th>
              <td mat-cell *matCellDef="let element" class="right-align {{completed[element._id] && 'completed'}}">
                {{ orderItems[element._id].delivered + '/' + element.qty}}
              </td>
            </ng-container>

            <ng-container matColumnDef="qty">
              <th mat-header-cell *matHeaderCellDef class="center-align">In this delivery</th>
              <td mat-cell *matCellDef="let element">
                <div class="qty-selector">
                  <button
                    mat-icon-button
                    class="qty-btn"
                    type="button"
                    (click)="decrementQty(element._id)"
                  >
                    <mat-icon class="qty-icon">remove</mat-icon>
                  </button>
                  <input
                    type="number"
                    max="{{orderItems[element._id].remaining}}"
                    min="1"
                    class="qty-txt"
                    [(ngModel)]="orderItems[element._id].qty"
                    [ngModelOptions]="{standalone: true}"
                    (change)="onChangeQty(element._id)"
                  >
                  <button
                    mat-icon-button
                    class="qty-btn"
                    type="button"
                    (click)="incrementQty(element._id)"
                  >
                  <mat-icon class="qty-icon">add</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

        </app-add-container>
        
      </div>
  
    </form>
  
    <mat-progress-bar mode="indeterminate" class="progress-bar" [hidden]="!loading"></mat-progress-bar>
  
  </div>
  