.grid-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 0px;
}

.grid-wrapper-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  column-gap: 24px;
}
.supplier-grid-wrapper-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 8px;
  column-gap: 24px;
}

.full-width {
  grid-column: 1 / 3;
}



mat-form-field, mat-radio-button {
  width: 100%;
}

mat-radio-button {
  margin-block: 8px;
}

.progress-bar {
  position: fixed;
  top: 60px;
}

.bottom-btn-container{
  text-align: right;
  margin-right: 35px;
  margin-top: -45px;
  padding-bottom: 50px;
}

.supplier-item-table{
  width: 100%;
}

.supplier-item-table td, .supplier-item-table th {
  padding: 5px 20px;
}

.add-supplier-link{
  padding-left: 20px;
  color: #3F7976;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
}
.add-supplier-link:hover{
  text-decoration: underline;
}
.add-items .mat-checkbox{
  display: block;
  padding-bottom: 10px;
}
