<div class="add-supplier">
  <app-titlebar
    breadcrumb="Supplier > {{ title }}"
    [title]="title"
    [buttons]="buttons"
  ></app-titlebar>

  <!-- Add Supplier form -->
  <form [formGroup]="addPermissionForm" [id]="formName" (ngSubmit)="submit()">


    <!-- Form Container -->
    <app-add-container title="Permission Information">
      <div class="grid-wrapper-form">
        <!-- Name inputs -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name"  required>

          <!-- Error message -->
          <mat-error *ngIf="name?.invalid">
            Permission name is required.
          </mat-error>
        </mat-form-field>

        <!-- Description inputs -->
        <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description"  required>

        <!-- Error message -->
        <mat-error *ngIf="description?.invalid">
          Description is required.
        </mat-error>
          </mat-form-field>
      </div>
    </app-add-container>

  </form>
  <mat-progress-bar mode="indeterminate" class="progress-bar" [hidden]="!loading"></mat-progress-bar>

</div>


