.label{
  font-weight: 500;
}
.row .col-md-6{
  font-size: 16px;
  padding-bottom: 15px;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0px;
}

.grid-wrapper-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  column-gap: 24px;
}
.item-grid-wrapper-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  column-gap: 24px;
}

.full-width {
  grid-column: 1 / 3;
}


.progress-bar {
  position: fixed;
  top: 60px;
}

.bottom-btn-container{
  text-align: right;
  margin-right: 35px;
  margin-top: -45px;
  padding-bottom: 50px;
}

.item-table{
  width: 100%;
  text-align: center;
}
.item-table input{
  text-align: center;
  font-size: 16px;
}

.item-table td, .item-table th {
  padding: 5px 20px;
  text-align: center;
}

.add-item-link{
  padding-left: 20px;
  color: #0E3472;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
}
.add-item-link:hover{
  text-decoration: underline;
}
.supplier-not-selected{
  font-weight: 500;
  font-size: 18px;
  color: #0E3472;
}
.price{
  font-weight: bold;
  color: #2D4A4C;
}
.total{
  text-align: right;
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px 0px;
}
.single-comment{
  padding: 15px;
  background-color: #f7f7f7;
  color: #838383;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 10px;
}
.comment-body{
  padding-top: 10px;
  font-weight: 500;
  color: #2D4A4C;
  font-size: 15px;
}
.comment-header{
  font-size: 13px;
}

.title-bar{
  height: 140px;
  padding: 30px;
}
.title-bar .breadcrumb{
  color: #2D4A4C;
  font-size: 1rem;
  font-weight: 500;
}
.title-bar .title{
  font-size: 2rem;
  color: #2D4A4C;
  font-weight: 600;
  letter-spacing: 2px;
}
.title-section{
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.title-bar .buttons{
  margin-top: -18px;
}
